.card {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid rgb(225, 225, 225);
}
.form-control-label {
  margin-bottom: 0;
  text-align: left;
}
input,
textarea,
button {
  padding: 8px 15px;
  border-radius: 5px;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  box-shadow: none;
  border: 1px solid #00bcd4;
  outline-width: 0;
}
.btn-block {
  font-size: 15px;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}
